
.footerContent{
	box-shadow: 0 2rem 2rem;
	background-color:#000;
	height:20rem;
}
.border h4{
	padding-top:2rem;
}
.footerLink table{
	width:100%;
	padding-left:3rem;
	padding-right:3rem;
	margin-bottom:2rem;
	font-size:1.2rem auto;
	text-align:left;
	color:#fff;	
}
.footerLink th{
	font-size:1.5rem;

}
.copyright{
	background-color:red;
	height:4rem;
	font-size:1rem;
	padding-top:1rem;
	text-align:center;
}
.footerLink a{
	text-decoration: none;
	font-size:1.2rem auto;
	color: #fff;
}
