/*
CSS file for Index.html file 
*/#index h4{
	font-size:1.5rem;
	color:white;
	text-transform: uppercase;
	font-weight:800;
	text-align:center;
	}
#index p{
	font-size:1rem;
	font-weight:400;	
	}	
#content span{
	background:black;
	padding: 15px 35px;
	border-radius: 5px 5px 0 0;
}
#index hr{
	margin-top:-10px;
	width:80%;
	color:silver;
}
#middle{
	margin:50px;
	padding:50px;
	background-color:white;
}
 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  	background-color: transparent;
  	border: 1px solid #f1f1f1;
  	float:left;
  	border:none;
  	margin-left:60px;
  	margin-bottom:50px;
  	perspective: 1000px; /* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width:300px;
  height:500px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 2rem 2rem;
  
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: silver;
  color: black;
  outline: 4px solid red;
  outline-offset: -15px;
  transform: rotateY(180deg);
}


.flip-card-front img{
clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%)
}

.card_details{
	list-style: none;
	width: 80%;
	font-weight: 400;
	line-height: 1.7;
	color: #777;
	margin-left:10px;
	
} 
.card_details ul {
	list-style: none;
	
}
.card_details li{
	text-align: center;
	font-size: 1rem;
	padding: 1rem;
	border-bottom: 1px solid #eee;
}

.flip-card-back h1{
	margin-top:200px;

}
.text-box {
	
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
    margin-right:50px;
    margin-left:50px;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.row{
	clear:both;
	max-width:114rem;
	margin-bottom:8rem;
}
.feedback{
	margin-bottom:80px;
	width: 75%;
	margin:10 auto;
	box-shadow: 0 3rem 3rem;
	border-radius:3px;
	padding:3rem;
	padding-left:5rem;
	font-size:1.6rem;
	transform:skewX(-12deg);
}

.feedback_shape{
	clip-path:circle(50% at 50% 50%);
	width:10rem;
	height:10rem;
	float:left;
	transform: translateX(-3rem) skewX(12deg);
	position: relative;
	overflow:hidden;
	border-radius:50%
}
.feedback_img{
	height:100%;
	transform:translateX(-4rem) scale(1.4);
	transition:all .5s

}
.feedback_caption{
	position:absolute;
	top:35%;
	left:50%;
	transform:translate(-50%, 30%);
	color:#fff;
	text-transform:uppercase;
	font-size:1.5rem;
	text-align:center;
	opacity:0;
	transition:all .5s;
	backface-visibility:hidden;
}
.row:hover .feedback_img{
	-webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
	filter: blur(3px);
}

.row:hover .feedback_caption{
  	opacity:1;	
}
.reason{
	width:90%;
	font-size:1.2rem;
	margin:0 auto;
}
.group1{
	float:left;
}

.group2{
	float:left;
}
.imgLabel {
  position: relative;
  width: 30rem;
  margin:3rem;
  box-shadow: 0 2rem 2rem;
}

.imgLabel img{
	width:30rem;
}
.imgLabel .contents {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 90%; /* Full width */
  padding: 1rem; /* Some padding */
}





.footerContent{
	box-shadow: 0 2rem 2rem;
	background-color:#000;
	height:20rem;
}
.border h4{
	padding-top:2rem;
}
.footerLink table{
	width:100%;
	padding-left:3rem;
	padding-right:3rem;
	margin-bottom:2rem;
	font-size:1.2rem auto;
	text-align:left;
	color:#fff;	
}
.footerLink th{
	font-size:1.5rem;

}
.copyright{
	background-color:red;
	height:4rem;
	font-size:1rem;
	padding-top:1rem;
	text-align:center;
}
.footerLink a{
	text-decoration: none;
	font-size:1.2rem auto;
	color: #fff;
}
