/*
CSS file for Index.html file 
*/#index h4{
	font-size:1.5rem;
	color:white;
	text-transform: uppercase;
	font-weight:800;
	text-align:center;
	}	

.reason{
	display: flex;
	justify-content: space-evenly;
	
}
.group1{
	padding-right: 10px;
}
.imgLabel {
  	position: relative;
	width: 30rem;
	margin-bottom: 40px;  
	box-shadow: 0 2rem 2rem;
}

.imgLabel img{
	width:30rem;
	height: 20rem;
}
.imgLabel .contents {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 90%; /* Full width */
  padding: 1rem; /* Some padding */
}
@media screen and (max-width: 700px) {
	.reason {   
	  flex-direction: column;
	  align-items: center;
	}
  }
